obj
bin
deploy
*.dll
*.pbd
*.csproj.user
*.suo
*ReSharper*
*.orig
*.dotCover
output
*.TeamCitySharp.sln.metaproj*
*.DotSettings*
*StyleCop.Cache
*debug.css
logs/
*ncrunch*
.DS_Store
*~
